<nav>
  <h3>Famous Quotes</h3>
</nav>
<div class="container main">
  <div class="row">
      <div class="col-md-6">
          <app-quote-form (addQuote) = "addNewQuote($event)"></app-quote-form>
        </div>
    <div class="card card-body col-md-6" *ngFor='let quote of quotes;let i = index'>
      <p class="card-text">
        '{{quote.sentence}}' -{{quote.published|date}}
      </p>
      <div>
          <button (click)='showMore(i)' class="btn btn-primary">more details</button>
      </div>
      
      <app-quote-details *ngIf='quote.showDetails' [quote]='quote' (isDelete) = 'deleteQuote($event,i)'></app-quote-details>
    </div>
    
  </div>
</div>
