<div class="container">
  <div class="row">
    <div class="card card-body col-md-3" *ngFor='let quote of quotes;let i = index'>
      <p class="card-text">
        '{{quote.sentence}}' -{{quote.published|date}}
      </p>
      <button (click)='showMore(i)' class="btn btn-primary">more details</button>
      <app-quote-details *ngIf='quote.showDetails' [quote]='quote' (isDelete) = 'deleteQuote($event,i)'></app-quote-details>
    </div>
    <div class="col-md-6">
      <app-quote-form (addQuote) = "addNewQuote($event)"></app-quote-form>
    </div>
  </div>
</div>
