/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";


nav {
  height: 70px;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 0px 3px rgb(138, 4, 138);
  position: fixed;
  clear: both;
  background-color: rgb(255, 255, 255);
}
.card{
  margin-top: 10px;
}

.main {
  font-family: 'Righteous', cursive;
  margin-top: 100px;
}
.logo{
  text-align: center;
}
.logo h4{
  color: rgb(138, 4, 138);
  text-decoration: none;
  font-size: 40px;
  font-family: 'Rochester', cursive;
  font-weight: bolder;
}
.title{
  color: bisque;
}
