<div class="container-fluid">
  <h2 class="text-center">Post a new Quote</h2>
  <hr>
  <form (ngSubmit)='postQuote()' #quoteForm='ngForm'>
    <div class="form-group">

      <label for="name">Who said these words ?</label>
      <input type="text" required class="form-control" id="name" [(ngModel)]="newQuote.name" name="name"
        #name='ngModel'>
      <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
        <p>Name is required</p>
      </div>
    </div>
    <div class="form-group">

      <label for="sentence"> Quote </label>
      <textarea class="form-control" id="sentence" rows="4" [(ngModel)]="newQuote.sentence" name="sentence"
        #sentence="ngModel" required></textarea>
      <div [hidden]="sentence.valid || published.pristine" class="alert alert-danger">
        <p>Please write a Quote</p>
      </div>
    </div>
    <div class="form-group">
      <label for="date-published">Date of posting</label>
      <input type='date' id="published" [(ngModel)]="newQuote.published" name="published" #published="ngModel" required>
      <div [hidden]="published.valid || published.pristine" class="alert alert-danger">
        <p> valid date required</p>
      </div>
    </div>
    <button type="submit" class="btn btn-success">Post Quote</button>
  </form>
</div>
