<div class="container-fluid">
  <h2 class="text-center">Post a new Quote</h2>
  <hr>
  <form>
      <div class="form-group">

          <label for="name">Who said these words?</label>
          <input type="text" required class="form-control" id="name">

      </div>
      <div class="form-group">

          <label for="sentence">Quote body</label>
          <textarea class="form-control" id="sentence" rows="4" required></textarea>

      </div>
      <div class="form-group">
          <label for="published">Date of posting</label>
          <input type='date' id="published" required>

      </div>
  </form>
</div>
